body {
  padding: none;
  font-family: 'Londrina Solid', cursive;
  background-image: url(https://i.imgur.com/mZIAMMn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

a {
  color: #00B7FF;
}

#map {
  height: 55vh;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-items: center;
  border-radius: 1vh;
  border: 2px solid black;
}

.holes {
  color: antiquewhite;
  text-shadow: 0 0 2px black;
}

body > nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/Ey6KGjN.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin-bottom: 3vh;
  border-radius: 1vh;
  border: 2px solid black;
  color: #00B7FF;
  text-shadow: 0 0 2px black;
}

span {
  text-decoration: none;
  font-size: 5vh;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > div > a {
  margin: 10px;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
}

nav > div > a:hover {
  color: antiquewhite;
  background-color: #00B7FF;
}

@media only screen and (max-width: 600px) {
  span {
    padding: 2px;
    font-size: 3vh;
  }
  table {
    font-size: small;
  }
}